.list-empty(v-if="issueCount === 0") No known issues.

section(v-cloak id="block" class="issues-{{index.toLowerCase()}}" v-for="(index, group) in groupedIssues")

  .issue-count-sticker
    .issue-total {{group.length}}
    .issue-subtitle Total

  .block-header {{index}}
    #clipboard
      div(id="copy-button" class="typcn typcn-clipboard" v-on:click='copyToClipboard(issues)')
      div(id="clipboard-status" v-if="clipboardStatus.length > 0" transition="clipboard-fader") {{{jiggle(clipboardStatus + '!', 50)}}}

  table.striped
    thead
      tr
        th.th-issue Issue
        th.th-details Details
        th.th-actual Actual
        th.th-expected Expected
        th.th-fix Fix

    tbody
      tr(v-for="item in group | orderBy 'sort'")
        td.td-issue {{item.issue}}
        td.td-details {{item.details}}
        td.td-actual {{item.actual}}
        td.td-expected {{item.expected}}
        td.td-fix
          pre {{item.fix}}
