.col-05 {
  max-width: 05%; }

.col-10 {
  max-width: 10%; }

.col-15 {
  max-width: 15%; }

.col-20 {
  max-width: 20%; }

.col-25 {
  max-width: 25%; }

.col-30 {
  max-width: 30%; }

.col-35 {
  max-width: 35%; }

.col-40 {
  max-width: 40%; }

.col-45 {
  max-width: 45%; }

.col-50 {
  max-width: 50%; }

.col-55 {
  max-width: 55%; }

.col-60 {
  max-width: 60%; }

.col-65 {
  max-width: 65%; }

.col-70 {
  max-width: 70%; }

.col-75 {
  max-width: 75%; }

.col-80 {
  max-width: 80%; }

.col-85 {
  max-width: 85%; }

.col-90 {
  max-width: 90%; }

.col-95 {
  max-width: 95%; }

.col-100 {
  max-width: 100%; }

@media (min-width: 30em) and (max-width: 65em) {
  .col-50 {
    max-width: 100%; } }

@font-face {
  font-family: 'Brandon Black';
  src: url("../fonts/Brandon_Black.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Black Italics';
  src: url("../fonts/Brandon_Black_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Bold';
  src: url("../fonts/Brandon_Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Bold Italics';
  src: url("../fonts/Brandon_Bold_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Light';
  src: url("../fonts/Brandon_Light.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Light Italics';
  src: url("../fonts/Brandon_Light_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Medium';
  src: url("../fonts/Brandon_Medium.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Medium Italics';
  src: url("../fonts/Brandon_Medium_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Regular';
  src: url("../fonts/Brandon_Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Regular Italics';
  src: url("../fonts/Brandon_Regular_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Thin';
  src: url("../fonts/Brandon_Thin.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Thin Italics';
  src: url("../fonts/Brandon_Thin_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Fira Mono';
  src: url("../fonts/FiraMono-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'typicons';
  src: url("../vendor/typicons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.typcn-adjust-brightness:before {
  content: '\e000'; }

.typcn-adjust-contrast:before {
  content: '\e001'; }

.typcn-anchor-outline:before {
  content: '\e002'; }

.typcn-anchor:before {
  content: '\e003'; }

.typcn-archive:before {
  content: '\e004'; }

.typcn-arrow-back-outline:before {
  content: '\e005'; }

.typcn-arrow-back:before {
  content: '\e006'; }

.typcn-arrow-down-outline:before {
  content: '\e007'; }

.typcn-arrow-down-thick:before {
  content: '\e008'; }

.typcn-arrow-down:before {
  content: '\e009'; }

.typcn-arrow-forward-outline:before {
  content: '\e00a'; }

.typcn-arrow-forward:before {
  content: '\e00b'; }

.typcn-arrow-left-outline:before {
  content: '\e00c'; }

.typcn-arrow-left-thick:before {
  content: '\e00d'; }

.typcn-arrow-left:before {
  content: '\e00e'; }

.typcn-arrow-loop-outline:before {
  content: '\e00f'; }

.typcn-arrow-loop:before {
  content: '\e010'; }

.typcn-arrow-maximise-outline:before {
  content: '\e011'; }

.typcn-arrow-maximise:before {
  content: '\e012'; }

.typcn-arrow-minimise-outline:before {
  content: '\e013'; }

.typcn-arrow-minimise:before {
  content: '\e014'; }

.typcn-arrow-move-outline:before {
  content: '\e015'; }

.typcn-arrow-move:before {
  content: '\e016'; }

.typcn-arrow-repeat-outline:before {
  content: '\e017'; }

.typcn-arrow-repeat:before {
  content: '\e018'; }

.typcn-arrow-right-outline:before {
  content: '\e019'; }

.typcn-arrow-right-thick:before {
  content: '\e01a'; }

.typcn-arrow-right:before {
  content: '\e01b'; }

.typcn-arrow-shuffle:before {
  content: '\e01c'; }

.typcn-arrow-sorted-down:before {
  content: '\e01d'; }

.typcn-arrow-sorted-up:before {
  content: '\e01e'; }

.typcn-arrow-sync-outline:before {
  content: '\e01f'; }

.typcn-arrow-sync:before {
  content: '\e020'; }

.typcn-arrow-unsorted:before {
  content: '\e021'; }

.typcn-arrow-up-outline:before {
  content: '\e022'; }

.typcn-arrow-up-thick:before {
  content: '\e023'; }

.typcn-arrow-up:before {
  content: '\e024'; }

.typcn-at:before {
  content: '\e025'; }

.typcn-attachment-outline:before {
  content: '\e026'; }

.typcn-attachment:before {
  content: '\e027'; }

.typcn-backspace-outline:before {
  content: '\e028'; }

.typcn-backspace:before {
  content: '\e029'; }

.typcn-battery-charge:before {
  content: '\e02a'; }

.typcn-battery-full:before {
  content: '\e02b'; }

.typcn-battery-high:before {
  content: '\e02c'; }

.typcn-battery-low:before {
  content: '\e02d'; }

.typcn-battery-mid:before {
  content: '\e02e'; }

.typcn-beaker:before {
  content: '\e02f'; }

.typcn-beer:before {
  content: '\e030'; }

.typcn-bell:before {
  content: '\e031'; }

.typcn-book:before {
  content: '\e032'; }

.typcn-bookmark:before {
  content: '\e033'; }

.typcn-briefcase:before {
  content: '\e034'; }

.typcn-brush:before {
  content: '\e035'; }

.typcn-business-card:before {
  content: '\e036'; }

.typcn-calculator:before {
  content: '\e037'; }

.typcn-calendar-outline:before {
  content: '\e038'; }

.typcn-calendar:before {
  content: '\e039'; }

.typcn-camera-outline:before {
  content: '\e03a'; }

.typcn-camera:before {
  content: '\e03b'; }

.typcn-cancel-outline:before {
  content: '\e03c'; }

.typcn-cancel:before {
  content: '\e03d'; }

.typcn-chart-area-outline:before {
  content: '\e03e'; }

.typcn-chart-area:before {
  content: '\e03f'; }

.typcn-chart-bar-outline:before {
  content: '\e040'; }

.typcn-chart-bar:before {
  content: '\e041'; }

.typcn-chart-line-outline:before {
  content: '\e042'; }

.typcn-chart-line:before {
  content: '\e043'; }

.typcn-chart-pie-outline:before {
  content: '\e044'; }

.typcn-chart-pie:before {
  content: '\e045'; }

.typcn-chevron-left-outline:before {
  content: '\e046'; }

.typcn-chevron-left:before {
  content: '\e047'; }

.typcn-chevron-right-outline:before {
  content: '\e048'; }

.typcn-chevron-right:before {
  content: '\e049'; }

.typcn-clipboard:before {
  content: '\e04a'; }

.typcn-cloud-storage:before {
  content: '\e04b'; }

.typcn-cloud-storage-outline:before {
  content: '\e054'; }

.typcn-code-outline:before {
  content: '\e04c'; }

.typcn-code:before {
  content: '\e04d'; }

.typcn-coffee:before {
  content: '\e04e'; }

.typcn-cog-outline:before {
  content: '\e04f'; }

.typcn-cog:before {
  content: '\e050'; }

.typcn-compass:before {
  content: '\e051'; }

.typcn-contacts:before {
  content: '\e052'; }

.typcn-credit-card:before {
  content: '\e053'; }

.typcn-css3:before {
  content: '\e055'; }

.typcn-database:before {
  content: '\e056'; }

.typcn-delete-outline:before {
  content: '\e057'; }

.typcn-delete:before {
  content: '\e058'; }

.typcn-device-desktop:before {
  content: '\e059'; }

.typcn-device-laptop:before {
  content: '\e05a'; }

.typcn-device-phone:before {
  content: '\e05b'; }

.typcn-device-tablet:before {
  content: '\e05c'; }

.typcn-directions:before {
  content: '\e05d'; }

.typcn-divide-outline:before {
  content: '\e05e'; }

.typcn-divide:before {
  content: '\e05f'; }

.typcn-document-add:before {
  content: '\e060'; }

.typcn-document-delete:before {
  content: '\e061'; }

.typcn-document-text:before {
  content: '\e062'; }

.typcn-document:before {
  content: '\e063'; }

.typcn-download-outline:before {
  content: '\e064'; }

.typcn-download:before {
  content: '\e065'; }

.typcn-dropbox:before {
  content: '\e066'; }

.typcn-edit:before {
  content: '\e067'; }

.typcn-eject-outline:before {
  content: '\e068'; }

.typcn-eject:before {
  content: '\e069'; }

.typcn-equals-outline:before {
  content: '\e06a'; }

.typcn-equals:before {
  content: '\e06b'; }

.typcn-export-outline:before {
  content: '\e06c'; }

.typcn-export:before {
  content: '\e06d'; }

.typcn-eye-outline:before {
  content: '\e06e'; }

.typcn-eye:before {
  content: '\e06f'; }

.typcn-feather:before {
  content: '\e070'; }

.typcn-film:before {
  content: '\e071'; }

.typcn-filter:before {
  content: '\e072'; }

.typcn-flag-outline:before {
  content: '\e073'; }

.typcn-flag:before {
  content: '\e074'; }

.typcn-flash-outline:before {
  content: '\e075'; }

.typcn-flash:before {
  content: '\e076'; }

.typcn-flow-children:before {
  content: '\e077'; }

.typcn-flow-merge:before {
  content: '\e078'; }

.typcn-flow-parallel:before {
  content: '\e079'; }

.typcn-flow-switch:before {
  content: '\e07a'; }

.typcn-folder-add:before {
  content: '\e07b'; }

.typcn-folder-delete:before {
  content: '\e07c'; }

.typcn-folder-open:before {
  content: '\e07d'; }

.typcn-folder:before {
  content: '\e07e'; }

.typcn-gift:before {
  content: '\e07f'; }

.typcn-globe-outline:before {
  content: '\e080'; }

.typcn-globe:before {
  content: '\e081'; }

.typcn-group-outline:before {
  content: '\e082'; }

.typcn-group:before {
  content: '\e083'; }

.typcn-headphones:before {
  content: '\e084'; }

.typcn-heart-full-outline:before {
  content: '\e085'; }

.typcn-heart-half-outline:before {
  content: '\e086'; }

.typcn-heart-outline:before {
  content: '\e087'; }

.typcn-heart:before {
  content: '\e088'; }

.typcn-home-outline:before {
  content: '\e089'; }

.typcn-home:before {
  content: '\e08a'; }

.typcn-html5:before {
  content: '\e08b'; }

.typcn-image-outline:before {
  content: '\e08c'; }

.typcn-image:before {
  content: '\e08d'; }

.typcn-infinity-outline:before {
  content: '\e08e'; }

.typcn-infinity:before {
  content: '\e08f'; }

.typcn-info-large-outline:before {
  content: '\e090'; }

.typcn-info-large:before {
  content: '\e091'; }

.typcn-info-outline:before {
  content: '\e092'; }

.typcn-info:before {
  content: '\e093'; }

.typcn-input-checked-outline:before {
  content: '\e094'; }

.typcn-input-checked:before {
  content: '\e095'; }

.typcn-key-outline:before {
  content: '\e096'; }

.typcn-key:before {
  content: '\e097'; }

.typcn-keyboard:before {
  content: '\e098'; }

.typcn-leaf:before {
  content: '\e099'; }

.typcn-lightbulb:before {
  content: '\e09a'; }

.typcn-link-outline:before {
  content: '\e09b'; }

.typcn-link:before {
  content: '\e09c'; }

.typcn-location-arrow-outline:before {
  content: '\e09d'; }

.typcn-location-arrow:before {
  content: '\e09e'; }

.typcn-location-outline:before {
  content: '\e09f'; }

.typcn-location:before {
  content: '\e0a0'; }

.typcn-lock-closed-outline:before {
  content: '\e0a1'; }

.typcn-lock-closed:before {
  content: '\e0a2'; }

.typcn-lock-open-outline:before {
  content: '\e0a3'; }

.typcn-lock-open:before {
  content: '\e0a4'; }

.typcn-mail:before {
  content: '\e0a5'; }

.typcn-map:before {
  content: '\e0a6'; }

.typcn-media-eject-outline:before {
  content: '\e0a7'; }

.typcn-media-eject:before {
  content: '\e0a8'; }

.typcn-media-fast-forward-outline:before {
  content: '\e0a9'; }

.typcn-media-fast-forward:before {
  content: '\e0aa'; }

.typcn-media-pause-outline:before {
  content: '\e0ab'; }

.typcn-media-pause:before {
  content: '\e0ac'; }

.typcn-media-play-outline:before {
  content: '\e0ad'; }

.typcn-media-play-reverse-outline:before {
  content: '\e0ae'; }

.typcn-media-play-reverse:before {
  content: '\e0af'; }

.typcn-media-play:before {
  content: '\e0b0'; }

.typcn-media-record-outline:before {
  content: '\e0b1'; }

.typcn-media-record:before {
  content: '\e0b2'; }

.typcn-media-rewind-outline:before {
  content: '\e0b3'; }

.typcn-media-rewind:before {
  content: '\e0b4'; }

.typcn-media-stop-outline:before {
  content: '\e0b5'; }

.typcn-media-stop:before {
  content: '\e0b6'; }

.typcn-message-typing:before {
  content: '\e0b7'; }

.typcn-message:before {
  content: '\e0b8'; }

.typcn-messages:before {
  content: '\e0b9'; }

.typcn-microphone-outline:before {
  content: '\e0ba'; }

.typcn-microphone:before {
  content: '\e0bb'; }

.typcn-minus-outline:before {
  content: '\e0bc'; }

.typcn-minus:before {
  content: '\e0bd'; }

.typcn-mortar-board:before {
  content: '\e0be'; }

.typcn-news:before {
  content: '\e0bf'; }

.typcn-notes-outline:before {
  content: '\e0c0'; }

.typcn-notes:before {
  content: '\e0c1'; }

.typcn-pen:before {
  content: '\e0c2'; }

.typcn-pencil:before {
  content: '\e0c3'; }

.typcn-phone-outline:before {
  content: '\e0c4'; }

.typcn-phone:before {
  content: '\e0c5'; }

.typcn-pi-outline:before {
  content: '\e0c6'; }

.typcn-pi:before {
  content: '\e0c7'; }

.typcn-pin-outline:before {
  content: '\e0c8'; }

.typcn-pin:before {
  content: '\e0c9'; }

.typcn-pipette:before {
  content: '\e0ca'; }

.typcn-plane-outline:before {
  content: '\e0cb'; }

.typcn-plane:before {
  content: '\e0cc'; }

.typcn-plug:before {
  content: '\e0cd'; }

.typcn-plus-outline:before {
  content: '\e0ce'; }

.typcn-plus:before {
  content: '\e0cf'; }

.typcn-point-of-interest-outline:before {
  content: '\e0d0'; }

.typcn-point-of-interest:before {
  content: '\e0d1'; }

.typcn-power-outline:before {
  content: '\e0d2'; }

.typcn-power:before {
  content: '\e0d3'; }

.typcn-printer:before {
  content: '\e0d4'; }

.typcn-puzzle-outline:before {
  content: '\e0d5'; }

.typcn-puzzle:before {
  content: '\e0d6'; }

.typcn-radar-outline:before {
  content: '\e0d7'; }

.typcn-radar:before {
  content: '\e0d8'; }

.typcn-refresh-outline:before {
  content: '\e0d9'; }

.typcn-refresh:before {
  content: '\e0da'; }

.typcn-rss-outline:before {
  content: '\e0db'; }

.typcn-rss:before {
  content: '\e0dc'; }

.typcn-scissors-outline:before {
  content: '\e0dd'; }

.typcn-scissors:before {
  content: '\e0de'; }

.typcn-shopping-bag:before {
  content: '\e0df'; }

.typcn-shopping-cart:before {
  content: '\e0e0'; }

.typcn-social-at-circular:before {
  content: '\e0e1'; }

.typcn-social-dribbble-circular:before {
  content: '\e0e2'; }

.typcn-social-dribbble:before {
  content: '\e0e3'; }

.typcn-social-facebook-circular:before {
  content: '\e0e4'; }

.typcn-social-facebook:before {
  content: '\e0e5'; }

.typcn-social-flickr-circular:before {
  content: '\e0e6'; }

.typcn-social-flickr:before {
  content: '\e0e7'; }

.typcn-social-github-circular:before {
  content: '\e0e8'; }

.typcn-social-github:before {
  content: '\e0e9'; }

.typcn-social-google-plus-circular:before {
  content: '\e0ea'; }

.typcn-social-google-plus:before {
  content: '\e0eb'; }

.typcn-social-instagram-circular:before {
  content: '\e0ec'; }

.typcn-social-instagram:before {
  content: '\e0ed'; }

.typcn-social-last-fm-circular:before {
  content: '\e0ee'; }

.typcn-social-last-fm:before {
  content: '\e0ef'; }

.typcn-social-linkedin-circular:before {
  content: '\e0f0'; }

.typcn-social-linkedin:before {
  content: '\e0f1'; }

.typcn-social-pinterest-circular:before {
  content: '\e0f2'; }

.typcn-social-pinterest:before {
  content: '\e0f3'; }

.typcn-social-skype-outline:before {
  content: '\e0f4'; }

.typcn-social-skype:before {
  content: '\e0f5'; }

.typcn-social-tumbler-circular:before {
  content: '\e0f6'; }

.typcn-social-tumbler:before {
  content: '\e0f7'; }

.typcn-social-twitter-circular:before {
  content: '\e0f8'; }

.typcn-social-twitter:before {
  content: '\e0f9'; }

.typcn-social-vimeo-circular:before {
  content: '\e0fa'; }

.typcn-social-vimeo:before {
  content: '\e0fb'; }

.typcn-social-youtube-circular:before {
  content: '\e0fc'; }

.typcn-social-youtube:before {
  content: '\e0fd'; }

.typcn-sort-alphabetically-outline:before {
  content: '\e0fe'; }

.typcn-sort-alphabetically:before {
  content: '\e0ff'; }

.typcn-sort-numerically-outline:before {
  content: '\e100'; }

.typcn-sort-numerically:before {
  content: '\e101'; }

.typcn-spanner-outline:before {
  content: '\e102'; }

.typcn-spanner:before {
  content: '\e103'; }

.typcn-spiral:before {
  content: '\e104'; }

.typcn-star-full-outline:before {
  content: '\e105'; }

.typcn-star-half-outline:before {
  content: '\e106'; }

.typcn-star-half:before {
  content: '\e107'; }

.typcn-star-outline:before {
  content: '\e108'; }

.typcn-star:before {
  content: '\e109'; }

.typcn-starburst-outline:before {
  content: '\e10a'; }

.typcn-starburst:before {
  content: '\e10b'; }

.typcn-stopwatch:before {
  content: '\e10c'; }

.typcn-support:before {
  content: '\e10d'; }

.typcn-tabs-outline:before {
  content: '\e10e'; }

.typcn-tag:before {
  content: '\e10f'; }

.typcn-tags:before {
  content: '\e110'; }

.typcn-th-large-outline:before {
  content: '\e111'; }

.typcn-th-large:before {
  content: '\e112'; }

.typcn-th-list-outline:before {
  content: '\e113'; }

.typcn-th-list:before {
  content: '\e114'; }

.typcn-th-menu-outline:before {
  content: '\e115'; }

.typcn-th-menu:before {
  content: '\e116'; }

.typcn-th-small-outline:before {
  content: '\e117'; }

.typcn-th-small:before {
  content: '\e118'; }

.typcn-thermometer:before {
  content: '\e119'; }

.typcn-thumbs-down:before {
  content: '\e11a'; }

.typcn-thumbs-ok:before {
  content: '\e11b'; }

.typcn-thumbs-up:before {
  content: '\e11c'; }

.typcn-tick-outline:before {
  content: '\e11d'; }

.typcn-tick:before {
  content: '\e11e'; }

.typcn-ticket:before {
  content: '\e11f'; }

.typcn-time:before {
  content: '\e120'; }

.typcn-times-outline:before {
  content: '\e121'; }

.typcn-times:before {
  content: '\e122'; }

.typcn-trash:before {
  content: '\e123'; }

.typcn-tree:before {
  content: '\e124'; }

.typcn-upload-outline:before {
  content: '\e125'; }

.typcn-upload:before {
  content: '\e126'; }

.typcn-user-add-outline:before {
  content: '\e127'; }

.typcn-user-add:before {
  content: '\e128'; }

.typcn-user-delete-outline:before {
  content: '\e129'; }

.typcn-user-delete:before {
  content: '\e12a'; }

.typcn-user-outline:before {
  content: '\e12b'; }

.typcn-user:before {
  content: '\e12c'; }

.typcn-vendor-android:before {
  content: '\e12d'; }

.typcn-vendor-apple:before {
  content: '\e12e'; }

.typcn-vendor-microsoft:before {
  content: '\e12f'; }

.typcn-video-outline:before {
  content: '\e130'; }

.typcn-video:before {
  content: '\e131'; }

.typcn-volume-down:before {
  content: '\e132'; }

.typcn-volume-mute:before {
  content: '\e133'; }

.typcn-volume-up:before {
  content: '\e134'; }

.typcn-volume:before {
  content: '\e135'; }

.typcn-warning-outline:before {
  content: '\e136'; }

.typcn-warning:before {
  content: '\e137'; }

.typcn-watch:before {
  content: '\e138'; }

.typcn-waves-outline:before {
  content: '\e139'; }

.typcn-waves:before {
  content: '\e13a'; }

.typcn-weather-cloudy:before {
  content: '\e13b'; }

.typcn-weather-downpour:before {
  content: '\e13c'; }

.typcn-weather-night:before {
  content: '\e13d'; }

.typcn-weather-partly-sunny:before {
  content: '\e13e'; }

.typcn-weather-shower:before {
  content: '\e13f'; }

.typcn-weather-snow:before {
  content: '\e140'; }

.typcn-weather-stormy:before {
  content: '\e141'; }

.typcn-weather-sunny:before {
  content: '\e142'; }

.typcn-weather-windy-cloudy:before {
  content: '\e143'; }

.typcn-weather-windy:before {
  content: '\e144'; }

.typcn-wi-fi-outline:before {
  content: '\e145'; }

.typcn-wi-fi:before {
  content: '\e146'; }

.typcn-wine:before {
  content: '\e147'; }

.typcn-world-outline:before {
  content: '\e148'; }

.typcn-world:before {
  content: '\e149'; }

.typcn-zoom-in-outline:before {
  content: '\e14a'; }

.typcn-zoom-in:before {
  content: '\e14b'; }

.typcn-zoom-out-outline:before {
  content: '\e14c'; }

.typcn-zoom-out:before {
  content: '\e14d'; }

.typcn-zoom-outline:before {
  content: '\e14e'; }

.typcn-zoom:before {
  content: '\e14f'; }

@keyframes error-flash {
  0% {
    opacity: 0;
    transform: scale(0.8); }
  
  50% {
    opacity: 1;
    transform: scale(1.1); }
  
  100% {
    transform: scale(1); } }

@keyframes checking {
  0%, 100% {
    background-color: #FFD93B; }
  
  50% {
    background-color: #fff7d4;
    border-color: #ffe888; } }

@keyframes up {
  0%, 100% {
    transform: rotateX(0deg); }
  
  50% {
    transform: rotateX(90deg); } }

@keyframes down {
  0%, 100% {
    background-color: #FF4E31; }
  
  50% {
    background-color: #ff907e; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  
  100% {
    opacity: 1; } }

.clipboard-fader-transition {
  transition: all .1s ease; }

.clipboard-fader-enter, .clipboard-fader-leave {
  opacity: 0;
  transform: scale(0.9); }

.issue-counter-transition {
  transition: all .2s ease; }

.issue-counter-enter, .issue-counter-leave {
  opacity: 0;
  transform: scale(0.85); }

[v-cloak] {
  display: none; }

html, body {
  padding: 0;
  margin: 0;
  background: #EFEFEF; }

body {
  font-family: 'Brandon Regular';
  color: #7E7E7E;
  font-size: 1em; }

#app {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex: 1; }

#container {
  display: flex;
  flex: 1; }

#left-bar {
  display: flex;
  min-width: 12em;
  flex-direction: column;
  background-color: #84A0FF; }

#left-logo {
  height: 3em;
  padding: 0;
  background-color: #4a63b6;
  font-family: 'Brandon Bold';
  font-size: 2em;
  font-variant-caps: small-caps;
  text-align: center;
  line-height: 3em;
  color: rgba(255, 255, 255, 0.88); }

#nav-link {
  position: relative;
  display: block;
  text-decoration: none; }

.nav-item {
  padding: 1em 0;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #5c72bd;
  text-align: center;
  border-left: 6px solid #84A0FF;
  transition: background 0.3s ease; }
  .nav-item:hover {
    background-color: #9FB5FF;
    border-left: 6px solid #9FB5FF;
    color: #ffffff; }

.nav-item.active {
  background-color: #6A86E2;
  border-left: 6px solid #FFD01D;
  color: #ffffff; }

#nav-issue-count {
  opacity: 1;
  position: absolute;
  top: 30%;
  right: 7%;
  z-index: 1;
  padding: 0.33em;
  min-width: 1em;
  min-height: 1em;
  background-color: #FF4E31;
  border-radius: 6px;
  color: white;
  font-family: 'Fira Mono';
  text-align: center;
  line-height: 1.1; }

#refresh-container {
  display: flex;
  flex: 1; }

#refresh-button {
  text-align: center;
  flex: 1;
  margin: auto 0 0 0;
  padding: 0.5em;
  background-color: #84A0FF;
  color: #5c72bd;
  text-decoration: none;
  line-height: 1.5;
  font-size: 1.5em;
  transition: all 0.25s; }

#refresh-button:hover {
  background-color: #9FB5FF;
  color: #ffffff; }

#content {
  width: 100%;
  display: flex;
  flex-direction: column; }

#stripe {
  height: 3em;
  padding: 1.5em 1em;
  background-color: #6A86E2;
  line-height: 3em; }

#stripe .currentView {
  float: left;
  margin: 0;
  font-family: 'Brandon Thin';
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #e9ebf3;
  text-transform: uppercase; }

#stripe .lastUpdated {
  float: right;
  font-family: 'Brandon Light';
  font-size: 1.3em;
  color: rgba(233, 235, 243, 0.7); }
  #stripe .lastUpdated em {
    font-family: 'Brandon Regular';
    font-style: normal;
    color: rgba(233, 235, 243, 0.9); }

#switcher {
  flex: 1;
  margin: 0.5em;
  padding: 0.5em;
  overflow: auto; }

.list-empty {
  padding: 0;
  font-family: 'Brandon Light Italics';
  font-size: 1.4em; }

#flash {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  margin: 1em 1em 0 0;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  box-shadow: -8px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }

#flash h1 {
  margin: 0; }

#flash.error {
  animation: error-flash 0.3s;
  background-color: #FF4E31;
  border-color: #b11900;
  border-top-width: 10px; }
  #flash.error h1 {
    color: #971500; }

#block {
  position: relative;
  padding: 1em;
  margin: 0 0 1em 0;
  background-color: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 6px; }

#block .block-header {
  font-size: 1.5em; }

.button {
  margin: 16px 16px 0 0;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background: #84A0FF;
  border: 2px solid #718ae0;
  border-radius: 3px;
  font-size: 1.2em;
  font-family: 'Brandon Regular';
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white; }
  .button:hover {
    background-color: #93acff;
    border-color: #7e94e3; }
  .button:focus {
    outline: none; }
  .button:active {
    background-color: #7a98ff;
    border-color: #6983de; }

#clipboard {
  display: inline-flex;
  margin: 0 0 0 0.33em;
  color: #525252; }

#copy-button {
  cursor: pointer; }

#clipboard-status {
  margin: 0 0 0 0.33em;
  padding: 0.2em 0.4em;
  border-radius: 3px 6px 6px 3px;
  border: 2px solid #67DA75;
  background-color: rgba(103, 218, 117, 0.2);
  border-left-width: 8px;
  color: #50be5d;
  font-family: 'Fira Mono';
  font-size: 0.6em;
  line-height: 1.2em; }

.staff-away {
  min-height: 1em;
  display: flex;
  flex: 1;
  width: 100%;
  color: #ffffff;
  margin: 1em 0 0 0; }
  .staff-away a {
    text-decoration: none; }

#staff-away-details {
  margin: 1em 0 0 0; }
  #staff-away-details th.name {
    width: 50%; }
  #staff-away-details th.reason {
    width: 50%; }

#staff-away-item {
  width: 30%;
  text-align: center;
  padding: 0.7em;
  float: left;
  border-radius: 6px; }

.staff-away .count {
  font-family: 'Brandon Bold';
  font-size: 3em; }

.staff-away .away-type {
  font-family: 'Brandon Medium';
  font-size: 2em; }

.staff-away .now {
  background-color: #FFD93B;
  border: 2px solid #d4ab00;
  transition: all 0.2s; }
  .staff-away .now:hover {
    background-color: #ffe578;
    border: 2px solid #e9c638; }
  .staff-away .now .count {
    color: #7d6500; }
  .staff-away .now .away-type {
    color: #bb9600; }

.staff-away .soon {
  margin: 0 1em;
  background-color: #0798FF;
  border: 2px solid #005ea0;
  transition: all 0.2s; }
  .staff-away .soon:hover {
    background-color: #54b8ff;
    border: 2px solid #1578be; }
  .staff-away .soon .count {
    color: #003154; }
  .staff-away .soon .away-type {
    color: #004f87; }

.staff-away .all-day {
  background-color: #FF4E31;
  border: 2px solid #ca1c00;
  transition: all 0.25s; }
  .staff-away .all-day:hover {
    background-color: #ff755f;
    border: 2px solid #e24d34; }
  .staff-away .all-day .count {
    color: #7e1200; }
  .staff-away .all-day .away-type {
    color: #b11900; }

.edumate-status, .exchange-status {
  max-width: 12em;
  float: left;
  background-color: #ffffff;
  border-radius: 6px;
  text-align: center; }

@media (min-width: 30em) and (max-width: 65em) {
  .edumate-status, .exchange-status {
    max-width: 12em; } }

.edumate-status {
  border: 2px solid #0798FF;
  margin: 0 1em 0 0; }

.exchange-status {
  border: 2px solid #FF4E31; }

.status-header {
  width: 100%;
  padding: 0.5em 0;
  border-radius: 0;
  color: #ffffff;
  font-size: 2em;
  text-align: center; }

.edumate-status .status-header {
  background-color: #0798FF; }

.exchange-status .status-header {
  background-color: #FF4E31; }

.status-items {
  padding: 1em;
  display: inline-block; }

.item {
  width: 100%; }
  .item:first-of-type {
    margin: 0 0 1em 0; }
  .item:last-of-type {
    margin: 1em 0 0 0; }

.status-icon {
  width: 6em;
  padding: 0.5em;
  border-radius: 4px;
  font-family: 'Fira Mono';
  font-size: 1.2em;
  text-align: center; }

.edumate-status .status-item h3 {
  color: #0d4c79; }

.exchange-status .status-item h3 {
  color: #9f2612; }

.unknown {
  background-color: #e9ebf3; }

.checking {
  background-color: #FFD93B;
  border: 2px solid #e2b80c;
  color: #997d08;
  animation: checking 1s infinite; }

.up {
  background-color: #67DA75;
  border: 2px solid #3cb84b;
  color: #297f34;
  animation: up 0.3s; }

.down {
  background-color: #FF4E31;
  border: 2px solid #d8280b;
  color: #8f1b08;
  animation: down 0.5s infinite; }

.reports-filter {
  width: 220px;
  margin: 0 0 1em 0;
  padding: 1em;
  font-size: 1.2em;
  background-color: rgba(212, 212, 212, 0.33);
  border: 2px solid #bdbdbd;
  color: #7E7E7E;
  border-radius: 6px;
  line-height: 1em; }
  .reports-filter:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #84A0FF;
    color: #323c5f; }

.reports-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0; }

.reports-list {
  width: 100%;
  overflow: auto;
  position: absolute;
  flex: 1;
  padding: 0; }

.report-item {
  margin: 0 0 1em 0;
  padding: 1em;
  background-color: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 6px; }

h2 {
  margin: 0;
  font-family: 'Brandon Medium';
  font-size: 2.2em;
  color: #525252; }

.report-meta {
  border-top: 1px dashed #D4D4D4;
  padding-top: 0.5em;
  margin: 0.5em 0 0 0;
  font-size: 1.2em; }

[class^="report-type-"] {
  float: right;
  text-transform: uppercase;
  margin: 0 0 0 1em;
  padding: 4px 9px;
  font-family: 'Brandon Medium';
  font-size: 1em;
  line-height: 1.35;
  letter-spacing: 1px;
  color: white;
  border-radius: 3px;
  opacity: 0.75; }

.report-type-module {
  color: #8367DA;
  border: 2px solid #8367DA;
  border-top-width: 6px; }

.report-type-correspondence {
  color: #FF4E31;
  border: 2px solid #FF4E31;
  border-top-width: 6px; }

.report-type-job {
  color: #FFD93B;
  border: 2px solid #FFD93B;
  border-top-width: 6px; }

.report-meta .dimmed {
  color: #bdbdbd; }

.report-meta .arrow {
  margin: 0 0.12em; }

.report-meta .pipe {
  color: rgba(212, 212, 212, 0.5); }

.report-meta .emphasis {
  color: #7E7E7E; }

h3 {
  margin: 0;
  font-family: 'Brandon Light';
  font-size: 1.8em; }

p {
  margin: 0.3em 0 0 0;
  font-family: 'Brandon Regular';
  font-size: 1.4em;
  line-height: 1.5em; }

.issue-count-sticker {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 16px 16px 0 0;
  padding: 0.4em;
  min-width: 1em;
  min-height: 1em;
  background-color: #FF4E31;
  border-radius: 6px;
  color: white;
  text-align: center;
  line-height: 1; }

.issue-total {
  font-family: 'Fira Mono';
  font-size: 2em; }

.issue-subtitle {
  font-family: 'Brandon Regular';
  font-size: 0.75em;
  text-transform: uppercase;
  opacity: 0.75;
  letter-spacing: 1px; }

[class^="issues-"] .block-header {
  font-size: 1.75em;
  font-family: 'Brandon Regular'; }

.th-issue {
  width: 22%; }

.th-details {
  width: 28%; }

.th-actual {
  width: 10%; }

.th-expected {
  width: 10%; }

.th-fix {
  width: 30%; }

.td-actual {
  color: #FF4E31; }

.td-expected {
  color: #30c542; }

::-webkit-scrollbar {
  width: 0.75em; }

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(126, 126, 126, 0.2);
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(126, 126, 126, 0.3); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(126, 126, 126, 0.1); }

table, th, td {
  border: none; }

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  font-family: 'Fira Mono';
  color: #525252; }
  table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(212, 212, 212, 0.25); }
  table.striped > tbody > tr > td {
    border-radius: 0; }

thead {
  font-family: 'Brandon Medium';
  font-size: 1.2em;
  border-bottom: 2px solid #bdbdbd; }

td, th {
  padding: 12px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

td {
  font-size: 0.8em; }

td pre {
  margin: 0;
  font-family: 'Fira Mono';
  font-size: 1em;
  color: #7E7E7E; }
