section.block.col-50(v-cloak)
  .block-header Services
  button.button(v-on:click="fetchAllStatuses") Update

  .status
    .edumate-status.col-50
      div.status-item
        div(class="status-icon {{status.edumate.production}}")
        h2 Edumate
        h3 Production

      div.status-item
        div(class="status-icon {{status.edumate.test}}")
        h2 Edumate
        h3 Test

    .exchange-status.col-50
      div.status-item
        div(class="status-icon {{status.exchange.production}}")
        h2 Exchange
        h3 Production

      div.status-item
        div(class="status-icon {{status.exchange.test}}")
        h2 Exchange
        h3 Test

      div.status-item
        div(class="status-icon {{status.exchange.beta}}")
        h2 Exchange
        h3 Beta
