.edumate-status
  .status-header Edumate
  .status-items
    .item
      div(class="status-icon {{status.edumate.production}}") Production

    .item
      div(class="status-icon {{status.edumate.test}}") Test

.exchange-status
  .status-header Exchange
  .status-items
    .item
      div(class="status-icon {{status.exchange.production}}") Production

    .item
      div(class="status-icon {{status.exchange.test}}") Test

    .item
      div(class="status-icon {{status.exchange.beta}}") Beta
