#block {
  position: relative;
  padding: $spacing-unit;
  margin: 0 0 $spacing-unit 0;
  background-color: $block-background;
  border: $border-width-unit solid $block-border;
  border-radius: $border-radius-unit;
}

#block .block-header {
  font-size: $font-size-unit * 1.5;
}
