.button {
  margin: $button-margin-unit $button-margin-unit 0 0;
  padding: $button-padding-unit;
  position: absolute;
  top: 0;
  right: 0;
  background: $button-background;
  border: $border-width-unit solid $button-border;
  border-radius: $border-radius-unit / 2;
  font-size: $font-size-unit * 1.2;
  font-family: 'Brandon Regular';
  letter-spacing: $border-width-unit;
  text-transform: uppercase;
  color: $button-text;

  &:hover {
    background-color: lighten($button-background, 3%);
    border-color: lighten($button-border, 3%);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: darken($button-background, 2%);
    border-color: darken($button-border, 2%);
  }
}

#clipboard {
  display: inline-flex;
  margin: 0 0 0 $spacing-unit * 0.33;
  color: $block-strong;
}

#copy-button {
  cursor: pointer;
}

#clipboard-status {
  margin: 0 0 0 $spacing-unit * 0.33;
  padding: $spacing-unit * 0.2 $spacing-unit * 0.4;
  border-radius: $border-radius-unit * 0.5 $border-radius-unit $border-radius-unit $border-radius-unit * 0.5;
  border: $border-width-unit solid $green-base;
  background-color: rgba($green-base, 0.2);
  border-left-width: $border-width-unit * 4;
  color: desaturate(darken($green-base, 10%), 15%);
  font-family: 'Fira Mono';
  font-size: $font-size-unit * 0.6;
  line-height: $font-size-unit * 1.2;
}
