.button {
  margin: $button-margin-unit $button-margin-unit 0 0;
  padding: $button-padding-unit;
  position: absolute;
  top: 0;
  right: 0;
  background: $button-background;
  border: $border-width-unit solid $button-border;
  border-radius: $border-radius-unit / 2;
  font-size: $font-size-unit * 1.2;
  font-family: 'Brandon Regular';
  letter-spacing: $border-width-unit;
  text-transform: uppercase;
  color: $button-text;

  &:hover {
    background-color: lighten($button-background, 3%);
    border-color: lighten($button-border, 3%);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: darken($button-background, 2%);
    border-color: darken($button-border, 2%);
  }
}

#clipboard {
  display: inline-flex;
  margin: 0 0 0 $spacing-unit * 0.33;
  transition: color 0.15s ease-in-out;
  color: $block-strong;
  &:hover {
    color: rgba($block-strong, 0.75);
  }
  &:active {
    color: rgba($block-strong, 0.9);
  }
}

#copy-button {
  cursor: pointer;
}

#clipboard-status {
  margin: 0;
  padding: $spacing-unit * 0.2 $spacing-unit * 0.4;
  color: desaturate(darken(rgba($block-text, 1), 10%), 15%);
  font-family: 'Fira Mono';
  font-size: $font-size-unit * 0.6;
  line-height: $font-size-unit * 1.5;
}

#clipboard-status #jiggle {
  white-space: pre;
  display: inline-block;
  color: $nav-bg;
  animation-name: jiggle, rainbow;
  animation-duration: 300ms, 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}
