[v-cloak] {
	display: none;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	background: $base-background;
	font-family: 'Brandon Regular';
	color: $block-text;
	font-size: $font-size-unit;
}

#app {
	width: 100%;
	height: 100%;
	position:absolute;
  display: flex;
  flex-direction:column;
	flex: 1;
  display: flex;
  flex-direction:column;
}

#flex {
	flex: 1;
  display:flex;
}

#switcher {
	width: 100%;
	margin: $spacing-unit;
	overflow: auto;
}
