#flash {
  position: fixed;
  top: 0;
  right: 0;
  padding: $spacing-unit;
  margin: $spacing-unit $spacing-unit 0 0;
  border-radius: $border-radius-unit;
  border-width: $border-width-unit;
  border-style: solid;
  box-shadow: -8px 8px 0 rgba(black, 0.2);
  z-index: 1;
}

#flash h1 {
  margin: 0;
}

#flash.error {
  animation: error-flash 0.3s;
  background-color: $red-base;
  border-color: darken($red-base, 25%);
  border-top-width: 10px;
  h1 {
    color: darken($red-base, 30%);
  }
}
