@font-face {
  font-family: 'Brandon Black';
  src: url('../fonts/Brandon_Black.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Black Italics';
  src: url('../fonts/Brandon_Black_Italics.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Bold';
  src: url('../fonts/Brandon_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Bold Italics';
  src: url('../fonts/Brandon_Bold_Italics.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Light';
  src: url('../fonts/Brandon_Light.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Light Italics';
  src: url('../fonts/Brandon_Light_Italics.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Medium';
  src: url('../fonts/Brandon_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Medium Italics';
  src: url('../fonts/Brandon_Medium_Italics.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Regular';
  src: url('../fonts/Brandon_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Regular Italics';
  src: url('../fonts/Brandon_Regular_Italics.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Thin';
  src: url('../fonts/Brandon_Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Thin Italics';
  src: url('../fonts/Brandon_Thin_Italics.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Mono';
  src: url('../fonts/FiraMono-Regular.otf') format('opentype');
}
