#nav {
  min-width: 13em;
  background-color: $nav-bg;
}

.nav-spacer {
  height: 37px;
  background-color: $top-stripe-bg;
}

.nav-list {
}

.nav-list a {
  text-decoration: none;
}

.nav-block {
  position: relative;
  display: block;
}

.nav-item {
  padding: $spacing-unit 0;
  font-size: $font-size-unit * 1.5;
  text-transform: uppercase;
  color: mix($nav-active-bg, $top-stripe-bg, 40%);
  text-align: center;
  border-left: $border-radius-unit solid $nav-bg;
  transition: background 0.3s ease;
  &:hover {
    background-color: $nav-hover-bg;
    border-left: $border-radius-unit solid $nav-hover-bg;
    color: $nav-active-text;
  }
}

.nav-item.active {
  background-color: $nav-active-bg;
  border-left: $border-radius-unit solid $nav-active-border;
  color: $nav-active-text;
}

.issue-counter {
  opacity: 1;
  position: absolute;
  top: $spacing-unit * 1.4;
  right: $spacing-unit * 1.1;
  z-index: 1;
  padding: $spacing-unit * 0.33;
  min-width: $spacing-unit;
  min-height: $spacing-unit;
  background-color: $red-base;
  border-radius: $border-radius-unit;
  color: $sticker-text;
  font-family: 'Fira Mono';
  text-align: center;
  line-height: 1.1;
}
